
<!doctype html>
<html>

<head>
    <title>2Click</title>
    <link rel="stylesheet" href="../stylesheets/form.index.css">
    <link rel="icon" href="data:,">
    <script src="../javascripts/jquery-3.2.1.min.js"></script>
</head>
<body>
<form method = "post" action = "/admin/enter">
            <div class = 'row'>
                    <div class = 'name'> USER</div>
                    <input class = "input" type = "text" name = "username" id = "jobref" required>
            </div>
            <div class = 'row'>
                    <div class = 'name'> PASSWORD</div>
                    <input class = "input" type = "text" name = "password" id = "jobref" required>
            </div>
            <div>
                    <button value = "submit" > Submit </button>
            </div>
</form>
</body>