<!doctype html>
<html>

<head>
    <title>2Click</title>
    
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="../stylesheets/admin.index.css">
    <link rel="stylesheet" href="../stylesheets/admin.head.css">
    <script src="../javascripts/jquery-3.2.1.min.js"></script>

</head>
<!--tr, th, td  -->
<body style = 'margin: 0'>

    <div class = 'tab-container-index'>
        <div class = 'tab-margin-0'>
            <div class = 'tab' >
                    2Click
            </div>
            <div class = 'tab' id = 'tab-index' data-link = 'index'>
                    Index
            </div>
            <div class = 'tab' id = 'tab-newform' data-link = 'new'>
                    New Form
            </div>
        </div>
    </div>

    <div style = 'margin: 0 auto; position: relative; width: 1000px; padding-top: 100px;'>

         <div class = 'row-header' style = 'margin-bottom: 1%'>
                    <div class = 'name' style = 'margin: 0 auto; padding: 0%; text-align: center; font-size: 17px;'> View By </div>
                    <div id = 'jobs-button' class = 'tab' style = 'height: 100%; font-size: 17px'>
                        Jobs
                    </div>
                    <div id = 'clients-button' class = 'tab' style = 'height: 100%; font-size: 17px'>
                        Clients
                    </div>
        </div>

        <form method = "post" action = "/admin/edit">
            <div class = 'row-header'>
                    <div class = 'name'> ENTER REFERENCE NUMBER </div>
                    <input class = "input" type = "text" name = "jobref" id = "jobref" required>
                    <button type = "submit" id = 'submit-button'> Submit </button>
            </div>
        </form>

        <form hidden method="post" action="/admin/newClientJob" id="newClientJob">
            <input class = "input" type = "text" name = "clientId" id = "postClientId" required>
        </form>

        <div class = 'row'>
            <table class = 'index-table' id = 'job-table'>
                    <tr class = 'fixed-row' id = 'job-header-row'>
                        <th>Surname</th>
                        <th>First Name</th>
                        <th>Reference No.</th>
                        <th>Equipment</th>
                        <th>Date In</th>
                        <th>Date Out</th>
                        <th>Link</th>
                    </tr>
                    <tr class = 'fixed-row' id = 'job-search-row'>
                        <th><input class = 'search' type = 'text'></th>
                        <th><input class = 'search' type = 'text'></th>
                        <th><input class = 'search' type = 'text'></th>
                        <th><input class = 'search' type = 'text'></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
            </table>
        </div>
        <div class = 'row'>
            <table class = 'index-table' id = 'client-table' hidden>
                    <tr class = 'fixed-row' id = 'client-header-row'>
                        <th>Surname</th>
                        <th>First Name</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Postcode</th>
                        <th>Link</th>
                        <th>New Job</th>
                    </tr>
                    <tr class = 'fixed-row' id = 'client-search-row'>
                        <th><input class = 'search' type = 'text' ></th>
                        <th><input class = 'search' type = 'text' ></th>
                        <th><input class = 'search' type = 'text' ></th>
                        <th><input class = 'search' type = 'text' ></th>
                        <th><input class = 'search' type = 'text' ></th>
                        <th><input class = 'search' type = 'text' ></th>
                        <th></th>
                        <th></th>
                    </tr>
            </table>
        </div>
    </div>

    <script src="../javascripts/admin.index.js"></script>
    <script>
        $(document).ready(function(){
            getJobs();
            getClients();
            search('#job-table');
            //Alternate between index tables
            $('#clients-button').on('click', function(){
                $('#job-table').hide();
                ($('#job-table').find('.search')).val("");
                ($('#job-table').find('.search')).trigger("input");
                search('#client-table');
                $('#client-table').show();
            })
            $('#jobs-button').on('click', function(){
                $('#client-table').hide();
                ($('#client-table').find('.search')).val("");
                ($('#client-table').find('.search')).trigger("input");
                search('#job-table');
                $('#job-table').show();
            })
            $('.tab').hover( function(){
                $(this).css('cursor', 'pointer');
            })
            $('.tab').on('click', function(){
                if($(this).attr('data-link')){
                    var str = $(this).attr('data-link');
                    window.location.replace(str);
                }
            })
        });
    </script>

</body>


</html>
