<!doctype html>
<html>

<head>
    <title>2Click</title>
    <script src="../javascripts/jquery-3.2.1.min.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="icon" href="data:,">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!--W3-CSS-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="../stylesheets/admin.form.css">
    <link rel="stylesheet" href="../stylesheets/admin.head.css">
    <style type="text/css">
    @font-face{
        font-family: BebasNeue;
        src: url("path/BebasNeue Bold.otf") format("opentype");
    }
   
     </style>
</head>
<!--tr, th, td  -->
<body>
    <div class = 'tab-container'>
        <div class = 'tab-margin-0'>
            <div class = 'tab' >
                    2Click
            </div>
            <div class = 'tab' id = 'tab-index' data-link = 'index'>
                    Index
            </div>
            <div class = 'tab' id = 'tab-newform' data-link = 'new'>
                    New Form
            </div>
        </div>
    </div>



    <form   method = "post" action = "/admin/submit" id = "form"
            style = 'position: relative; padding-top: 100px;' >

        <div class = 'section-1'>
            <input type="hidden" id="clientid" name = "clientid" value="" />
            <div class = 'client-info'>
                <div class = row>
                    <div class = 'field'>
                        <div class = 'name'> first name </div>
                        <input class = "input" type = "text" name = "firstname" id = "firstname" required>
                    </div>

                    <div class = 'field' >
                        <div class = 'name'> reference number </div>
                    </div>
                </div>
                <div class = row>
                    <div class = 'field'>
                        <div class = 'name'> surname </div>
                        <input class = "input" type = "text" name = "surname" id = "surname" required>
                    </div>

                    <div class = 'field' id = 'datein'>
                        <div class = 'name'> date in </div>
                    </div>
                </div>
                <div class = row>
                    <div class = 'field' style = 'height: 100px'>
                        <div class = 'name'> address </div>
                        <textarea class = "input" type = "text" name = "address" id = "address"> </textarea>
                    </div>

                    <div id = 'dateout' class = 'field' id = 'dateout'>
                        <div class = 'name'> date out </div>
                    </div>
                </div>
                <div class = row>
                    <div class = 'field'>
                        <div class = 'name'> postcode </div>
                        <input class = "input" type = "text" name = "postcode" id = "postcode">
                    </div>
                </div>
                <div class = row>
                    <div class = 'field'>
                        <div class = 'name'> telephone number </div>
                        <input class = "input" type = "text" name = "telephone" id = "telephone">
                    </div>
                    <div class = 'field'>
                        <div class = 'name'> status </div>
                        <div style = 'padding-top: 3px'>
                            <input type="radio" name="status" value="Ready" id="status-ready" disabled> <label for="status-ready">Ready</label>
                            <input type="radio" name="status" value="Not Ready" id="status-notready" checked="checked"> <label for="status-notready">Not Ready</label>
                        </div>
                    </div>
                </div>

                <div class = row >
                    <div class = 'field' >
                        <div class = 'name'> email address </div>
                        <input class = "input" type = "text" name = "email" id = "email">
                    </div>
                </div>
            </div>
        </div>
        

        <div class = 'section-2'>

            <table id = 'equipment-table' class = 'equipment-table'>
                <tr>
                    <th>Equipment</th>
                    <th>Make</th>
                    <th>Cable</th>
                    <th>Charger</th>
                    <th>Cases</th>
                    <th>CDs</th>
                    <th>Manual</th>
                    <th>Additional</th>
                </tr>
                <tr id = 'equipment-button-row'> 
                    <td></td> <td></td> <td></td> <td></td> <td></td> <td> </td ><td></td>
                    <td> <button type = "button" class="button" id='equipment-button'> New Row </button></td>
                </tr>
            </table>

        </div>
        
        <div class = 'section-3'>

            <div class = 'job-dscrpt'>
                <div class = 'title'> Job Description </div>
                <div >
                    <textarea rows = '10' type = 'text' name = 'jobdscrpt' id ='jobdscrpt'></textarea>
                </div>
            </div>
            
            <div class = 'work-done'>
                <div class = 'title'> Actual Work Done </div>
                <div>
                    <textarea rows = '10' type = 'text' name = 'workdone' id = 'workdone'></textarea>
                </div>
            </div>
            
            
        </div> 

        <div class = 'section-4'>

            <table class = 'cost-table' id = 'cost-table'>
                <col style = "width: 2%">
                <tr id = 'cost-table-header'>
                    <th> Type </th>
                    <th> Description </th>
                    <th> Cost </th>
                </tr>
                <tr class = "cost-row">
                    <td> <select name = "costtype" class = "drop-down">
                            <option value=""></option> 
                            <option value="Labour">Labour</option> 
                            <option value="Materials">Materials</option> 
                            <option value="Other">Other</option> </select> </th>
                    <td>  <textarea class = "cost-dscrpt" rows = "2" type = "text" name = "costdscrpt"></textarea></td> 
                    <td>  <input type = "number" name = "cost" class = "cost-input" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" style/> </td> 
                </tr>
                <tr id = 'cost-table-total'>
                    <td style = 'position: relative; margin: 10%;'> <h3> Total </h3> </td>
                    <td> </td>
                    <td>  <input type = "number" name = 'totalcost' class = 'cost-input' value="0.00" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100"/></td>
                </tr>
                <tr id = 'cost-button-row'> 
                    <td> </td>
                    <td> </td>
                    <td> <button type = "button" class="button" id='cost-button'> New Row </button></td>
                </tr>
            </table>

            <div class = 'submit-container'>
                 <input 
                    type = 'submit' 
                    style = "box-shadow: 10px 10px 5px #888888;position: relative; width: 100%; bottom: 0; margin-top: 1vh" 
                    id = "submit-button"
                    value = "submit"> 
            </div>
        </div>
    </form>

    <script type="text/javascript">var client = <%-client%>;</script>
    <script src = '../javascripts/admin.new.js'> </script>
    <script>
        $(document).ready(function() {
            loadSuggestions();
            equipment_newrow();
            costs_newrow();
            $('.button').click(function() {
                newrow(this);
            });
            $('.cost-dscrpt').on('input', function(e){
                cost_type = ($(this).closest('tr')).find('select[name=costtype]');
                if($(this).val() != ''){
                    cost_type.prop('required', true);
                }
                else{
                    cost_type.prop('required',false);
                }
                
            })
            $('.cost-input').on('input', function(e){
                  cost_type = ($(this).closest('tr')).find('select[name=costtype]');
                if($(this).val() != ''){
                    cost_type.prop('required', true);
                }
                else{
                    cost_type.prop('required',false);
                }
            });
            $('.tab').hover( function(){
                $(this).css('cursor', 'pointer');
            })
            $('.tab').on('click', function(){
                if($(this).attr('data-link')){
                    var str = $(this).attr('data-link');
                    window.location.replace(str);
                }
            })

            if(client != undefined){
                client_insertinfo(client);
            }
        }   
    );
    </script>

</body>



</html>