<!doctype html>
<html>

<head>
    <title>2Click</title>
    <script src="../javascripts/jquery-3.2.1.min.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!--W3-CSS-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="../stylesheets/client.form.css">

    <style type="text/css">
    @font-face{
        font-family: BebasNeue;
        src: url("path/BebasNeue Bold.otf") format("opentype");
    }
   
     </style>
</head>
<!--tr, th, td  -->
<body>
    
    <form  >

        <div class = 'section-1'>

            <div class = 'client-info'>
                <div class = row>
                    <div id = 'firstname' class = 'field'>
                        <div class = 'name'> first name 
                        </div>
                    </div>

                    <div id = 'jobref' class = 'field' >
                        <div class = 'name'> reference number </div>
                    </div>
                </div>

                <div class = row>
                    <div id = 'surname' class = 'field'>
                        <div class = 'name'> surname </div>
                    </div>

                    <div id = 'datein' class = 'field' >
                        <div class = 'name'> date in </div>
                    </div>
                </div>

                <div class = row>
                    <div id = 'address' class = 'field'>
                        <div class = 'name'> address </div>
                    </div>

                    <div id = 'dateout' class = 'field' >
                        <div class = 'name'> date out </div>
                    </div>
                </div>

                <div class = row>
                    <div id = 'postcode' class = 'field'>
                        <div class = 'name'> postcode </div>
                    </div>
                     <div id = 'status' class = 'field' >
                        <div class = 'name'> status: </div>
                    </div>
                </div>

                <div class = row>
                    <div id = 'telephone' class = 'field'>
                        <div class = 'name'> telephone number </div>
                    </div>
                    <div class = 'field'>
                        <div class = 'name'> status </div>
                        <div style = 'padding-top: 3px'>
                            <input type="radio" name="status" value="Ready" id="status-ready" disabled> <label for="status-ready">Ready</label>
                            <input type="radio" name="status" value="Not Ready" id="status-notready" disabled> <label for="status-notready">Not Ready</label>
                        </div>
                    </div>
                </div>

                <div class = row>
                        <div  id = 'email' class = 'field' style = 'width: 100%'> 
                            <div class = 'name'> email address </div>
                        </div>
                </div>

            </div> 


        </div>
        

        <div class = 'section-2'>
            <table id = 'equipment-table'>
                <tr>
                    <th>Equipment</th>
                    <th>Make</th>
                    <th>Cable</th>
                    <th>Charger</th>
                    <th>Cases</th>
                    <th>CDs</th>
                    <th>Manual</th>
                    <th>Additional</th>
                </tr>
            </table>
        </div>
        
        <div class = 'section-3'>

            <div class = 'job-dscrpt'>
                <div class = 'title'> Job Description </div>
                <div id='job-dscrpt' class = 'text-container'> &nbsp</div>
            </div>
            
            <div class = 'work-done'>
                <div class = 'title'> Actual Work Done </div>
                <div id = 'work-done' class = 'text-container'> &nbsp</div>
            </div>
            
        </div> 

        <div class = 'section-4'>

            <table class = 'cost-table' id = 'cost-table'>
                <col style = "width: 2%">
                <tr id = 'cost-table-header'>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Cost</th>
                </tr>
            </table>

        </div>

    </form>

    <script src = '../javascripts/client.form.js'> </script>
    <script type="text/javascript">var form = <%-form%>;</script>
    <script>
        
        $(document).ready(function() {
            client_insertinfo(form);
            equipment_insertinfo(form);
            work_insertinfo(form);
            costs_insertinfo(form);
        }
    );
    </script>
</body>



</html>