<!doctype html>
<html>

<head>
    <title>2Click</title>
    <script src="../javascripts/jquery-3.2.1.min.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="icon" href="data:,">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!--W3-CSS-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="../stylesheets/form.admin.css">

    <style type="text/css">
    @font-face{
        font-family: BebasNeue;
        src: url("path/BebasNeue Bold.otf") format("opentype");
    }
   
     </style>
</head>
<!--tr, th, td  -->
<body>
    <div class = 'title'>
        <h1> 2Click </h1>
    </div>
    <form   method = "post" action = "/admin/submit" 
            style = 'position: relative; width: 80%; left: 10%; height: 50vh' >

        <div class = 'section-1'>

            <div class = 'client-info'>
                <div class = row>
                    <div class = 'field'>
                        <div class = 'name'> first name </div>
                        <input class = "input" type = "text" name = "firstname" id = "firstname">
                    </div>

                    <div class = 'field' >
                        <div class = 'name'> reference number </div>
                        <input class = "input" type = "text" name = "jobref" id = "jobref" required>
                    </div>
                </div>

                <div class = row>
                    <div class = 'field'>
                        <div class = 'name'> surname </div>
                        <input class = "input" type = "text" name = "surname" id = "surname">
                    </div>

                    <div class = 'field' id = 'datein'>
                        <div class = 'name'> date in </div>
                    </div>
                </div>

                <div class = row>
                    <div class = 'field'>
                        <div class = 'name'> address </div>
                        <input class = "input" type = "text" name = "address" id = "address">
                    </div>

                    <div id = 'dateout' class = 'field' id = 'dateout'>
                        <div class = 'name'> date out </div>
                    </div>
                    <div class = 'field'>
                        <div class = 'name'> postcode </div>
                        <input class = "input" type = "text" name = "postcode" id = "postcode">
                    </div>
                </div>

                <div class = row>
                    <div class = 'field'>
                        <div class = 'name'> telephone number </div>
                        <input class = "input" type = "text" name = "telephone" id = "telephone">
                    </div>
                </div>

                <div class = row >
                    <div class = 'field' >
                        <div class = 'name'> email address </div>
                        <input class = "input" type = "text" name = "email" id = "email">
                    </div>
                </div>
            </div> 

             <div class = 'updates-container'>
                <div class = 'updates' id = 'updates'>

                </div>
                <textarea class = 'input' rows = '2' type = 'text' name = 'update'></textarea>
                <button type = "button" class="button" id='update-button'> Post Update </button>
            </div>

        </div>
        

        <div class = 'section-2'>

            <table id = 'equipment-table' class = 'equipment-table'>
                <tr>
                    <th>Equipment</th>
                    <th>Make</th>
                    <th>Cable</th>
                    <th>Charger</th>
                    <th>Case</th>
                    <th>CDs</th>
                    <th>Manual</th>
                    <th>Additional</th>
                </tr>
                <tr id = 'equipment-button-row'> 
                    <td></td> <td></td> <td></td> <td></td> <td></td> <td> </td ><td></td>
                    <td> <button type = "button" class="button" id='equipment-button'> New Row </button></td>
                </tr>
            </table>

        </div>
        
        <div class = 'section-3'>

            <div class = 'job-dscrpt'>
                <h3> Job Description </h3>
                <div >
                    <textarea rows = '10' type = 'text' name = 'jobdscrpt' id ='jobdscrpt'></textarea>
                </div>
            </div>
            
            <div class = 'work-done'>
                <h3> Actual Work Done </h3>
                <div>
                    <textarea rows = '10' type = 'text' name = 'workdone' id = 'workdone'></textarea>
                </div>
            </div>
            
            <table class = 'installation-table' id = 'installation-table'>
                <tr> 
                    <th> <h3> Installation </h3> </th>
                    <th> <h3> Description </h3> </th>
                </tr>
                <tr id = 'installation-button-row'> 
                    <td> <h3> </h3> </td>
                    <td> <button type = "button" class="button" id='installation-button'> New Row </button></td>
                </tr>
            </table>
            
        </div> 

        <div class = 'section-4'>

            <table class = 'cost-table' id = 'cost-table'>
                <col style = "width: 2%">
                <tr id = 'cost-table-header'>
                    <th> <h3> Type </h3> </th>
                    <th> <h3> Description </h3> </th>
                    <th> <h3> Cost </h3> </th>
                </tr>
                
                <tr id = 'cost-table-total'>
                    <th style = 'position: relative; margin: 10%;'> <h3> Total </h3> </th>
                    <td> </td>
                    <td>  <input type = "number" name = 'totalcost' class = 'cost-input' value="0.00" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100"/></td>
                </tr>
                <tr id = 'cost-button-row'> 
                    <th> </th>
                    <td> </td>
                    <td> <button type = "button" class="button" id='cost-button'> New Row </button></td>
                </tr>
            </table>

            <div class = 'submit-container'>
                <div class = 'notes'>
                    <textarea rows = '18' type = 'text' name = 'notes'></textarea>
                </div>
                
                <input 
                    type = "submit" 
                    style = "box-shadow: 10px 10px 5px #888888;position: relative; width: 100%; bottom: 0; margin-top: 1vh" 
                    id = "submit_post"
                    value = "submit">
                <br>  
            </div>
        </div>
    </form>


    <script src = '../javascripts/form.admin.js'> </script>
    <script>
        $(document).ready(function() {

            equipment_newrow();
            costs_newrow();
            installations_newrow();

            $('#update-button').click(function(){
                alert("No job reference exists to post an update on");
            });

            $('.button').click(function() {
                newrow(this);
            });

            $('.cost-dscrpt').on('input', function(e){
                cost_type = ($(this).closest('tr')).find('select[name=costtype]');
                if($(this).val() != ''){
                    cost_type.prop('required', true);
                }
                else{
                    cost_type.prop('required',false);
                }
                
            })
            $('.cost-input').on('input', function(e){
                  cost_type = ($(this).closest('tr')).find('select[name=costtype]');
                if($(this).val() != ''){
                    cost_type.prop('required', true);
                }
                else{
                    cost_type.prop('required',false);
                }
            });
            $('input').val("20");
            $('textarea').val("test");
            $('#submit_post').val("submit");
            // function forceRequired(element){
            //     if($(element).)
            // }

           
        }   
    );
    </script>

</body>



</html>