<!doctype html>
<html>

<head>
    <title>2Click</title>
    <link rel="stylesheet" href="../stylesheets/form.input.css">
    <link rel="icon" href="data:,">
    <script src="../javascripts/jquery-3.2.1.min.js"></script>
</head>
<!--tr, th, td  -->
<body>
    <div style = 'position: absolute; width: 80%; left: 10%; text-align: center;' >
        <form method = "post" action = "/form/admin-edit">
        <div class = 'row'>
                <div class = 'name'> ENTER REFERENCE NUMBER </div>
                <input class = "input" type = "text" name = "jobref" id = "jobref" required>
                <button class = "input" type = "submit" id = 'submit-button'> Submit </button>
        </div>
        </form>
        <div class = 'row' >
            <div class = 'name'> reference number </div>
            <div class = 'name'> reference number </div>
            <div class = 'name'> reference number </div>
            <div class = 'name'> reference number </div>
            
        </div>

        <div class = 'row' >
            <div class = 'name'> reference number </div>
        </div>

        <div class = 'row'>
                <div class = 'name'> reference number </div>
        </div>
        
    </div>
    <script src="../javascripts/form.admin-input.js"></script>
    <script>
    </script>
</body>


</html>
