<!doctype html>
<html>

<head>
    <title>2Click</title>
    <link rel="icon" href="data:,">
    <script src="../javascripts/jquery-3.2.1.min.js"></script>
    <style>
        .reference{
            position: absolute;
            align-content:center;
            
        }
    </style>
</head>
<!--tr, th, td  -->
<body>
    <div style = 'position: relative; width: 80%; left: 10%; height: 50vh' >
      <div id = 'address' >
          <form method = "post" action = "/form/client">
            <div> reference </div>
            <input type = "text" name = "jobref">
            <br>
            <input type = "submit" >
        </form>
      </div>
    </div>
</body>

</html>
