<!doctype html>
<html>

<head>
    <title>2Click</title>
    <script src="../javascripts/jquery-3.2.1.min.js"></script>
    <style>
        .reference{
            position: absolute;
            align-content:center;
            
        }
    </style>
</head>
<!--tr, th, td  -->
<body>
      <div id = 'address' class = 'reference'>
          <form method = "post" action = "/form/adminedit">
            <div class = 'name'> reference </div>
            <input 
            type = "text" 
            name = "jobref">
            <br>
            <input 
            type = "submit" >
        </form>
      </div>
</body>

</html>
