/* TITLE  */

    @font-face{
            font-family: nova;
            src: url("/stylesheets/fonts/nova.otf");
    }
    .title{
        position: relative;
        top: 10%;
        text-align: center;
        width: 100%;
        height: 10%;
        background-color:#343131;
        margin-bottom: 1%;
    }
    .title h1 {
        position: relative;
        font-family: nova;
        color: #58D4ED;
        font-size: 40px;
    }
    label{
        font-size: 10px;
    }
    /* SECTION 1 - CLIENT INFO  */
    .section-1{
        position: relative;
        border : 2px black bold;
        width: 1000px;
        margin: 0 auto;
        min-height: 40%;
        display: table;
        clear: both;
        margin-top: 50px;
    }
    .client-info {
        position: relative;
        width: 50%;
        float: left;
    }
    .row{
        margin: auto 0;
        position: relative;
        width: 100%;
        border: 1px solid black;
        margin-bottom: 5%;
        border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
    }
    .row .field {
        width: 50%;
        position: relative;
        float: left; 
        border-right:1px #e4e4e4 solid;
        box-shadow:outset 0 1px 2px #000000;
        -moz-box-shadow:outset 0 1px 2px #000000;
        -webkit-box-shadow:outset 0 1px 2px #000000;
        vertical-align: middle;
    }
    .row .name {
        position: relative;
        padding: 2%;
        width: 40%;
        font: 14px nova;
        float: left;
    }
    .updates-container {
        position: absolute;
        float: left;
        width: 40%;
        height: 100%;
        right: 0;
        border: 2px solid black;
        margin: auto 0;
        background: #B8DDFF;
        text-shadow: 1px 1px 1px #949494;
        border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
    }
    .updates {
        position: absolute;
        overflow: auto;
        height: 100%;
        width: 100%;
        background-color: white;
    }
    .updates .update{
        padding: 2%;
        position: relative;
        width: 100%;
        border: 1px #e4e4e4 solid;
        box-shadow: 0 1px 2px #000000;
        -webkit-box-shadow:inset 0 1px 2px #000000;
    }
    .updates .update-time{
        font: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 12px;
        background-color: gray;
        position: relative;
        text-align: right;
        width: 100%;
    }
    .row h2{
        position: relative;
        padding: 2%;
        margin: 0 auto;
        width: 50%;
        font: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size:13px;
        float: left;
        box-shadow:outset 0 1px 2px #000000;
        -moz-box-shadow:outset 0 1px 2px #000000;
        -webkit-box-shadow:outset 0 1px 2px #000000;
    }
    /* SECTION 2 - EQUIPMENT INFO  */
    .section-2{
        position: relative;
        border : 2px black bold;
        width: 1000px;
        margin: 0 auto;
        min-height: 40%;
        display: table;
        clear: both;
        box-shadow: 10px 10px 5px #888888;
        margin-top: 50px;
    }
    .section-2 table {
        position: relative;
        border-collapse: collapse;
        width: 100%;
        height: 100%;
        font-size:13px;
        table-layout:fixed;
    }
    .section-2 th {
        position: relative;
        border: 1px solid black;
        text-align: left;
        padding-left: 1%;
        width: 10%;
        color: #58D4ED;
        background: #343131;
        font-family: nova;
    }
    .section-2 td {
        padding: 2px;
        position: relative;
        border: 1px solid black;
        text-align: left;
        overflow: auto;
        font: "Trebuchet MS", Arial, Helvetica, sans-serif;
    } 
    
    /* SECTION 3 - JOB INFO  */
    .section-3{
        position: relative;
        border : 2px black bold;
        width: 1000px;
        margin: 0 auto;
        min-height: 40%;
        display: table;
        clear: both;
        margin-top: 50px;
    }
    .section-3 h3{
        margin: 0 auto;
        margin-left: 5%;
        font-size: 15px;
        color: black;
    }
    .section-3 .job-dscrpt{
        background: #343131;
        display: table-row;
        position: relative;
        min-height: 100%;
        padding-top: 5px;
        width: 30%;
        border: 2px solid black;
        box-shadow: 10px 10px 5px #888888;
        float: left;
    }
    .section-3 .work-done{
        background: #343131;
        display: table-row;
        position: relative;
        min-height: 100%;
        padding-top: 5px;
        width: 30%;
        left: 5%;
        border: 2px solid black;
        box-shadow: 10px 10px 5px #888888;
        float: left;
    }
    .section-3 .title{
        text-align: left;
        padding-left: 4%;
        line-height: 13px;
        color: #58D4ED;
        font-family: nova;
        font: 15px;
    }
    .text-container{
        position: relative;
        min-height: 100%;
        width: 100%;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: black;
        padding-left: 5%;
        font-size:13px;
        background-color: white;
    }
    .installation-table{
        float: left;
        left: 10%;
        position: relative; 
        width: 30%; 
        min-height: 100%;
        border: 2px solid black;
        box-shadow: 10px 10px 5px #888888;
    }
    .installation-table td{
        color: black;
        padding-left: 5%;
        font-size: 13px;
        background-color:white;
    }
    .installation-table th{
        font-family: nova;
        font-size: 15px;
        padding-left: 5%;
        background-color: #343131;
        color: #58D4ED;
    }
     /* SECTION 4 - COST INFO  */
    .section-4 {
        position: relative;
        border : 2px black bold;
        width: 1000px;
        margin: 0 auto;
        min-height: 40%;
        display: table;
        clear: both;
        margin-top: 50px;
    }
    .section-4 .cost-table{
        position: relative;
        border-collapse: collapse;
        width: 65%;
        height: 100%;
        border: 2px solid black;
        table-layout: fixed;
        float: left;
        border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        box-shadow: 10px 10px 5px #888888;
    }
    .cost-table th{
        position: relative;
        width: 5%; 
        font-family: nova;
        font-size:13px;
        background-color: #343131;
        color: #58D4ED;
        padding-left: 1%;
    }
    .cost-table td{
        position: relative;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: black;
        padding-left: 1%;
        font-size:13px;
    }
    .section-4 .float-r-container{
        height: 100%;
        width: 30%;
        position: relative;
        float: right;
    }
    .section-4 .notes {
        padding: 2%;
        height: 100%;
        width: 100%;
        border: solid 2px black;
        position: relative;
        box-shadow: 10px 10px 5px #888888;
    }