@font-face{
    font-family: nova;
    src: url("/stylesheets/fonts/nova.otf");
}

.input{
    position: relative;
    right: 0;
}

.input-name{
    font-size: 30px;
    font-family: nova;
    color:white;
    padding: 2px;
}
.container{
    text-align: center;
    
}
.login-container{
    /* border: 5px solid #3B2C2C; */
    position: relative; 
    width: 1000px; 
    margin: 0 auto;
    margin-top: 50px;
    height: 200px;
    padding-top: 25px;
    padding-bottom: 25px;

    background-color: #716868;
}
